@font-face {
    font-family: "Jost";
    src: url(font/Jost/Jost-VariableFont_wght.ttf);
}

.flex {
    display: flex;
    flex-flow: wrap;
}


.flex_column {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
}

.padding_10 {
    padding: 10px;
}



body {
    display: flex;
    overflow: hidden;
    margin-block: 10px;
    padding: 0;
}

.container_a {
    width: 20cqw;
    height: 100cqh;
    justify-content: space-between;
}

.title {
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.title_img {
    max-width: 5rem;
    max-height: 5rem;
}
 
h1 {
    margin: 0;
}

.index ul {
    list-style: none;
    padding-left: 30px;
}

.current_page::marker {
    content: url("./media/Star.svg");
    animation: spin 5s ease-in-out 0s infinite ;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    font-family: "Jost";
    box-sizing: border-box;
    transition: all 0.2s cubic-bezier(.22, .61, .36, 1);
}

.index ul > li{
    margin-block: 10px;
    margin-inline: 7px;
    padding-left: 10px;
}

.index a {
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.index a:hover {
    color: #CD5241;
}

footer {
    text-align: center;
}

.container_b {
    width: 79cqw;
    height: 96cqh;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: black solid 1px;
}

.space_around {
    justify-content: space-around;
}

.cards_container {
    justify-content: space-evenly;
    gap: 25px;
}
.card {
    max-width: 250px;
    border-radius: 20px;
    margin: 5px;
}

.img_product {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

h3 {
    font-weight: 500;
}

.card:hover img {
    transform: scale(120%);
}

.card img {
    border-radius: 20px 20px 0 0;
    width: 200px;
    max-height: 300px;
    align-self: center;
}

.card button {
    align-self: flex-end;
}

button {
    background: rgb(48, 48, 48);
    color: white;
    font-weight: 600;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

button:active {
    transform: scale(90%);
    color: #CD5241;
}

.cart_container {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.cart_product {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-inline: 50px;
    border-bottom: 0.5px solid rgb(48 48 48 / 50%);
}

.cart_container img {
    width: 100px;
    height: fit-content;
    align-self: center;
}

.cart_title {
    font-weight: 300;
}

.fit_button {
    height: fit-content;
    align-self: center;
}

.cart_actions {
    display: flex;
    justify-content: space-evenly;
}

fieldset {
    display: flex;
    border: 2px solid rgb(48 48 48 / 50%);
    border-radius: 5px;
    gap: 20px;
}

fieldset * {
    margin: 0;
}


.advice {
    display: none;
}

.footer_responsive {
    display: none;
}
@media (max-width:389px){
    body *{
        display: none;
    }
    .advice,.advice *{
        display:unset;
        background-color: white;
    }
    .advice {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

}

@media (min-width:390px) and (max-width:755px) {
    /* AQUI ES EL CARRITO SIN FLEX COLUMN */
}

@media (min-width:390px) and (max-width:950px) {
    body {
        flex-flow: column wrap;
        margin: 0;
    }

    .container_a {
        width: 100cqw;
        height:min-content;
        justify-content: unset;
        padding: 0;
    }

    .current_page::marker {
        content: none;
    }
    .index {
        background-color: rgb(48, 48, 48);
        height: max-content;
    }

    .index ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-flow: wrap;
    justify-content: space-evenly;
    }

    .index li {
        flex-grow: 1;
        text-align: center;
    }
    .index a {
        color: white;
    }

    footer {
        display: none;
    }

    .container_b {
        width: 100cqw;
        border: unset;
        border-radius: unset;
        height: 85cqh;
    }
    .footer_responsive {
        display: unset;
        text-align: center;
    }
}
